<h1>Se connecter</h1>
<div class="container">
  <form
    #loginForm="ngForm"
    class="mx-auto col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9 loginForm d-flex flex-column align-items-center justify-content-center mb-2"
  >
    <div class="mb-3 col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-9 inputGroup">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        placeholder="marionmartin@gmail.com"
        [(ngModel)]="email"
        name="email"
      />
    </div>
    <div class="mb-3 col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-9 inputGroup">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" id="password" [(ngModel)]="password"
      name="password"/>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-lg loginBtn" (click)="login(email, password)">
        Connexion
      </button>
    </div>
    <div class="d-flex justify-content-end">
      <a routerLink="/register" class="registerRedirect"
        >Pas encore de compte ?</a
      >
    </div>
  </form>
</div>
