h1 {
   text-align: center;
   color: coral;
   margin-bottom: 30px;
}

.form {
   padding: 15px;
   background: rgba(142, 78, 198, 0.16);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);

   h2 {
      text-align: center;
      font-size: 1.5rem;
      color: #8E4EC6;
      margin-bottom: 30px;
   }

   .taskActions {
      background: #8E4EC6;
      color: #fff;
      font-weight: 600;
      border: none;
   }

   .addTask {
      background-color: coral;
      border: none;
      font-weight: 600;
      border-radius: 50%;
      transition: 0.3s ease-in-out;

      &:hover {
         box-shadow: 0 0 18px 3px coral;
      }
   }

}