$primary-color: #F0F1FE;
$secondary-color: #ADB0E5;

h2 {
   margin: 40px 0;
   text-align: center;
   margin-bottom: 30px;
   color: $secondary-color;
   font-style: italic;
}

.projectBtn {
   background-color: $secondary-color;
   border: solid 1px $primary-color;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.7rem;
   padding: 15px 20px;
   transition: 0.3s ease-in-out;

   &:hover {
      background-color: #adb0e5be;
   }
}

h5 {
   cursor: pointer;
}

.canvasBackground {
   background-image: radial-gradient(circle, #2f4858, #335262, #365d6d, #3a6777, #3e7280);
   color: $primary-color;

   .displayProject {
      margin-bottom: 20px;

      .btn-container {
         .updateBtn {
            margin-right: 10px;
         }
      }

   }
   .addProject {
      background-color: $secondary-color;
      border: solid 1px $primary-color;

      &:hover {
         background-color: #adb0e5be;
      }
   }
}


// Formulaire d'ajout de projet + modification
.addProjectForm, .updateProjectForm {
   button {
      background-color: $secondary-color;
      border: solid 1px $primary-color;

      &:hover {
         background-color: #adb0e5be;
      }
   }
}


// Affichage des tâches en drag and drop
.wrapper {
   // margin: 0 auto;

   .status {
      border: solid 2px $secondary-color;
      // margin: 0 auto;
      border-radius: 8px;

      h2 {
         color: $primary-color;
         margin-bottom: 20px;
         text-transform: uppercase;
         font-size: 1.3rem;
         font-weight: 700;
      }

      // ::ng-deep pour styliser les composants enfants
      ::ng-deep {
         .sortable-item {
            cursor: pointer;
            // border: solid 2px lightpink;
            background-color: $primary-color;
            padding: 5px;
            border-radius: 8px;
            margin: 10px 0;
            font-size: 1.1rem;
            // word-break: break-word;

            .taskDetail {
               color: white;
            }
         }
      }

      .icons:not(:last-child) {
         margin-right: 5px;
      }

   }
}

.addTask {
   margin-top: 60px;
   font-size: 1.2rem;
   min-width: 130px;
   height: 40px;
   color: #8E4EC6;
   padding: 5px 10px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
   border: 1px solid #8E4EC6;
   color: #fff;
   background: transparent;
   z-index: 0;
   border-radius: 0;

    &:hover:after {
      top: 0;
      left: 0;
    }
    
   &:after {
      content: "";
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 5px;
      left: 5px;
      transition: 0.2s;
      background-color: #8E4EC6;
   }

}