* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    body {
        background-image: radial-gradient(circle, #2f4858, #335262, #365d6d, #3a6777, #3e7280);

        li {
            list-style: none;
        }

        a, button {
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }
    }
}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
 
