* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    body {
        min-height: 100vh;
        background-image: radial-gradient(circle, #2f4858, #335262, #365d6d, #3a6777, #3e7280);

        li {
            list-style: none;
        }
    }
}

:root{
    --colorLogo: #ADB0E5;
}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
 
