<main>
   <div class="container mx-auto home-container col-xxl-8 col-xl-10 col-lg-10 col-md-12 col-sm-12">
      <h1>Bienvenue sur Trolle</h1>
      <h2>Votre plateforme de gestion de projets simplifiée</h2>
   
      <section id="presentation" class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-11">
          <h3>Trolle, c'est quoi ?</h3>
          <p>Trolle est bien plus qu'une simple plateforme de gestion de projets. C'est un outil intuitif conçu pour vous aider à organiser, collaborer et réaliser vos projets de manière efficace et transparente. Que vous soyez un entrepreneur indépendant, une équipe de développement logiciel ou une entreprise en pleine croissance, Trolle offre les fonctionnalités nécessaires pour simplifier la gestion de vos tâches et améliorer la productivité de votre équipe.</p>
      </section>
   
      <section id="choice" class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-11">
          <h3>Pourquoi choisir Trolle ?</h3>
          <ul>
            <li>
               <h5>Organisation sans effort :</h5>
               Créez des tableaux pour chaque projet, ajoutez des listes de tâches et glissez-déposez des cartes pour prioriser vos actions. Trolle vous permet de structurer vos projets de manière logique et visuelle.
            </li>
            <li>
               <h5>Collaboration en temps réel :</h5>
               Invitez vos collègues, partagez des tableaux et travaillez ensemble en temps réel. Les mises à jour sont instantanément synchronisées, ce qui vous permet de rester toujours à jour sur l'avancement du projet.
            </li>
            <li>
               <h5> Suivi des tâches simplifié :</h5>
               Assignez des tâches, fixez des dates limites et suivez le progrès de chaque carte.
            </li>
            <li>
               Trolle est bien plus qu'un simple outil de gestion de projets. C'est votre allié pour transformer vos idées en réalisations concrètes, en toute simplicité. <a routerLink="/register" id="signup">Inscrivez-vous</a> dès maintenant et découvrez comment Trolle peut vous aider à atteindre vos objectifs, plus rapidement et plus efficacement que jamais.</li>
          </ul>

      </section>
      
   </div>
</main>