<h1>Créer un compte</h1>
<div class="container">
  <form
    class="form mx-auto col-4 registerForm d-flex flex-column align-items-center justify-content-center"
  >
  <div class="mb-3">
    <label for="name" class="form-label registerLabel">Nom et prénom</label>
    <input
      type="name"
      class="form-control registerInput"
      id="name"
      placeholder="Jean-Jacques Martin"
      [(ngModel)]="username"
      name="username"
    />
    <div class="mb-3">
      <label for="email" class="form-label registerLabel">Email</label>
      <input
        type="email"
        class="form-control registerInput"
        id="email"
        aria-describedby="emailHelp"
        placeholder="jeanjacques@gmail.com"
        [(ngModel)]="email"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label registerLabel">Mot de passe</label>
      <input
        type="password"
        class="form-control registerInput"
        id="password"
        [(ngModel)]="password"
        name="password"
      />
    </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg registerBtn" (click)="register(username, email, password)">
        Créer mon compte
      </button>
    </div>
    <div class="d-flex justify-content-end">
      <a routerLink="/login" class="registerRedirect">Déjà un compte ?</a>
    </div>
  </form>
</div>
